.table-scrollable {
    margin: 0px 0px !important;
}

.add_course{
	width:50%;
	margin: 0 auto;
	margin-top: 5px;
}

.ques_select{
	margin-top: 20px;
}
/*.page-header.navbar .page-logo .logo-default {
    margin: 3px 0 0;
}

.page-header.navbar {
    background-color: #000000;
}
.fa{
    color:red;
}

.page-header-fixed{
    background-color:#fff;
    color:#fff;
}
.page-header-fixed:hover{
    background-color:#fff;
}
.page-header-fixed li{
	background-color:#03a11c;
	color:#fff;
}
.page-header-fixed li a{
	background-color:#03a11c;
	color:#fff;
}
.page-header-fixed li:hover{
	background-color:#fff;
	color:#000000;
}
.page-sidebar .sidebar-search .input-group .form-control, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control {
    background-color: #03a11c;
    color: red;
}
.control-label{
 color:#000;
}*/