.footer_links p a{
	color:#CED5DE;
}

.footer_links p a:hover{
	text-decoration: none;
	color:#32C5D2;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #4D6B8A;
    background-color: #FFF;
    border: #5D6B7A 1px solid;
    cursor: default;
}

.nav-tab li:hover a:hover{
	border: #5D6B7A 1px solid !important;
}

.page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li:hover > a {
    color: #CED5DE;
    background: #5D6B7A none repeat scroll 0% 0%;
    border: 1px solid #5D6B7A;
}

.nav-tabs li:focus a{
	color: #CED5DE;
    background: #5D6B7A none repeat scroll 0% 0%;
    border: 1px solid #5D6B7A !important;
}


.tabs-left.nav-tabs > li.active > a, .tabs-left.nav-tabs > li.active > a:hover > li.active > a:focus {
    border-color: #5D6B7A;
}

.blog-content-2 .blog-single-sidebar > .blog-single-sidebar-recent > ul > li > a {
    font-size: 16px;
    padding-left: 20px;
    display: block;
    color: #34495E;
}

.blog-content-2 .blog-single-sidebar {
    padding: 0px 30px;
    background-color: #FFF;
}

.page-header .page-header-menu .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > a {
    display: block;
    white-space: normal;
    font-family: "Open Sans",sans-serif;
    padding: 7px;
    margin: 0px;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid transparent;
}

.tabs-left.nav-tabs {
    border-right: 1px solid #6F7D8E;
}

.page-header .page-header-menu .hor-menu .navbar-nav > li .dropdown-menu li:hover > a {
    color: #CED5DE;
    background: #5D6B7A none repeat scroll 0% 0%;
    border:0px;
}

/*Chapters Section*/

.chapters{
	background: #F6FBFC;
	border-left: #4C87B9 3px solid;
}

.lesson a h4{
	color:#34495E;
	font-size: 16px;
	border-bottom: #C5C5C5 1px dotted;
	padding-bottom: 11px;
}

.lesson a h4:hover {
    color: #467FB9;
}

.lesson a:hover{
	text-decoration: none;
	color:blue;
}

.todo-tasklist-item-text {
    font-size: 13px;
    color: #577688;
    padding-bottom: 5px;
}

.todo-tasklist-item-title {
    font-size: 16px;
    color: #447490;
	font-weight: 600;
    padding-top: 3px;
    padding-bottom: 10px;
}

.lesson:last-child a h4{
	border: 0px;
}

.panel-body {
    padding-top: 15px;
    margin-bottom: -20px;
}

/*lesson post*/

.lesson_post img{
	width: 100%;
	margin-top: -20px;
	margin-bottom: 20px;
}

/*login page*/

.login .content .form-control {
    background-color: #636C77;
    border: 1px solid #8D96A1;
    height: 43px;
    color: #FFF;
}

.login .content .form-control:focus{
    border-color:#fff;
}

.login {
    background-color: rgb(68, 77, 88);
}

#register-btn{
    background: rgb(99, 108, 119) none repeat scroll 0% 0%;
    border-color: rgb(141, 150, 161);
}

#register-btn:hover{
    background: #7E8792 none repeat scroll 0% 0%;
    color: rgb(99, 108, 119);
}

#register-back-btn{
    background: rgb(99, 108, 119) none repeat scroll 0% 0%;
    border-color: rgb(141, 150, 161);
    color:#FFF;
}

#register-back-btn:hover{
    background: #7E8792 none repeat scroll 0% 0%;
    color: #fff;
}

/*User Panel Section*/

.profile-sidebar-portlet {
    padding: 15px 0px 0px !important;
}
.profile-usermenu {
    padding-bottom: 20px;
    margin-top: 0px;
}


/*All Question Page*/

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #DDD;
    padding-bottom: 40px;
}

.query-footer{
    margin-top: 30px;
    margin-bottom: 30px;
}


/*favourite article*/

.blog-single-head h5 a{
    color:#333;
}

.blog-single-head h5 a:hover{
    color:#ED6B75;
    text-decoration: none;
}


.page-header .page-header-top .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
    display: block;
    clear: both;
    font-weight: 299;
    line-height: 0px;
    white-space: normal;
    font-size: 13px;
    padding: 10px 15px 0px;
    text-shadow: none;
}

.page-header .page-header-top .top-menu .navbar-nav > li.dropdown {
    margin: 0;
    padding: 0 4px;
    height: 40px;
    display: inline-block;
}
.updateContest{
    margin-left: 10px;
}
