.blog-content-2 .blog-single-sidebar {
    padding: 0px 20px;
    background-color: #FFF;
}


.blog-content-2 .blog-single-sidebar > .blog-single-sidebar-recent > ul > li > a {
    color: #666;
    font-size: 16px;
    padding-left: 20px;
    display: block;
}

.blog-content-2 .blog-single-sidebar > .blog-single-sidebar-recent > ul > li > a:hover {
	color:#577688;
}

.todo-tasklist-item {
    background: #FFFFFF none repeat scroll 0% 0%;
}

div .todo-tasklist-item:hover {
    background-color: #F0F0F0;
    color:blue;
}

