.body{
	text-align: justify;
}
.importantLink:hover{
	    background-color: #017513 !important;
		text-decoration: none;
		color: #fff;
}
.importantLink{
	   font-size: 13px; 
	   background-color:#03a11c;
	   padding: 7px;
	   color: #fff;
}
.impLink{
	font-size: 13px; 
	background-color:#03a11c;
	color: #fff
}
.impLink:hover{
	background-color: #017513 !important;
	text-decoration: none;
	color: #fff;
}
.bttn{
	margin:0;
	padding:2px 4px;
	margin-top:-17px;

}
.submitBtn{
	background-color: #03a11c; 
}
.page-header{
	background-color:  #03a11c;
	color: #FFF;
}
.breadcrumb li a{
	color: #FFF;
}

/*Toggle chapter*/
.toggle{
	margin: 0px;
}

.toggle.toggle{
	margin: 0px;
}

.all-chapter ul{
    list-style-type: none;
    margin-top: 5px;
    padding: 0;
}

.all-chapter ul li{
	padding: 5px 0px;
}

html body .tabs.tabs-vertical.tabs-left .nav-tabs li a:hover,
html.dark body .tabs.tabs-vertical.tabs-left .nav-tabs li a:hover,
html body .tabs.tabs-vertical.tabs-left .nav-tabs li.active a,
html.dark body .tabs.tabs-vertical.tabs-left .nav-tabs li.active a,
html body .tabs.tabs-vertical.tabs-left .nav-tabs li.active a:hover,
html.dark body .tabs.tabs-vertical.tabs-left .nav-tabs li.active a:hover,
html body .tabs.tabs-vertical.tabs-left .nav-tabs li.active a:focus,
html.dark body .tabs.tabs-vertical.tabs-left .nav-tabs li.active a:focus {
	border-left-color: #03a11c;
}
.fa {
	color: #03a11c;
}
.month {
	background-color:  #03a11c;
}
.header-social-icons li a:hover{
	background-color:  #03a11c;
	color:#fff;
}
.page-header h1 {
    border-bottom-color: #03a11c;
}

#about_fake:hover{
	background: #fff !important;
}

.getStart{
	background-color:#03a11c !important;
}
.getStart:hover{
	background-color:#fff !important;
	color:#000 !important;
}
.recent-posts .date {
    
    margin-top: 0px; 
}
section.page-header h1 {
    border-bottom-color: #017513;
}
.page-header {
    
    border-top: 5px solid #017513;
}
.nivo-slider .theme-default .nivo-controlNav {
    z-index: 10;
}
@media only screen and (max-width: 450px) {
#header .header-logo img {
    height: 37px !important;
    width: 200px !important;
}
}
#header .header-logo img{
	width:300;
	height:56;
}
.details ul{
  list-style: decimal !importent;
  list-style-type: disc;
}
