#header .header-nav-main nav > ul > li.dropdown .dropdown-menu li a {
    color: #777;
    font-size: 13px;
    font-weight: 400;
    padding: 8px 20px 8px 8px;
    position: relative;
    text-transform: none;
}

.tab_text {
	font-size: 16px;
	padding: 15px 20px 15px 8px;
}

.form-horizontal .checkbox, .form-horizontal .radio {
    min-height: 27px;
    margin-left: 10px;
    padding-bottom: 6px;
}
.lessonView{
    text-decoration:none; 
    font-size:.9em; 
    color:#777;
}
.lessonView:hover{
    text-decoration:none; 
}


